@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--color-background: #ffffff;
	--color-foreground: #000000;

	--color-primary: #01bc7d;
	--color-accent: #a855f7;

	--color-border: #d1d5dc;

	--color-muted: #f9fafb;
	--color-muted-foreground: #6a7282;
}

@theme inline {
	--color-background: var(--color-background);
	--color-foreground: var(--color-foreground);

	--color-primary: var(--color-primary);
	--color-accent: var(--color-accent);

	--color-border: var(--color-border);

	--color-muted: var(--color-muted);
	--color-muted-foreground: var(--color-muted-foreground);
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		background: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
		background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.15) 1px, transparent 0);
		background-size: 20px 20px;
		min-height: 100vh;
	}

	::selection {
		background-color: var(--color-accent);
		color: white;
	}

	::-moz-selection {
		background-color: var(--color-accent);
		color: white;
	}
}
